<header class="site-header">
    <div class="container container--header header__inner">
      <a class="brand" href="index.html" aria-label="Strona główna">
        <span class="brand__mark" aria-hidden="true"></span>
        <span class="brand__text">
          <span class="brand__name">Kancelaria</span>
          <span class="brand__tag">Adwokat</span>
        </span>
      </a>
  
      <button class="nav-toggle" type="button" data-nav-toggle aria-label="Otwórz menu" aria-expanded="false">
        <span class="nav-toggle__bar" aria-hidden="true"></span>
        <span class="nav-toggle__bar" aria-hidden="true"></span>
        <span class="nav-toggle__bar" aria-hidden="true"></span>
      </button>
  
      <nav class="nav" data-nav>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="about.html">O kancelarii</a>
          </li>
  
          <li class="nav__item nav__item--has-dropdown" data-dropdown style="visibility: hidden;">
            <button class="nav__link nav__link--btn" type="button" data-dropdown-toggle aria-expanded="false">
              Usługi
              <span class="chev" aria-hidden="true">▾</span>
            </button>
  
            <ul class="dropdown" data-dropdown-menu>
              <li><a class="dropdown__link" href="uslugi.html#a">A</a></li>
              <li><a class="dropdown__link" href="uslugi.html#b">B</a></li>
              <li><a class="dropdown__link" href="uslugi.html#c">C</a></li>
            </ul>
          </li>
  
          <li class="nav__item" style="visibility: hidden;">
            <a class="nav__link" href="blog.html">Blog</a>
          </li>
  
          <li class="nav__item">
            <a class="nav__link nav__link--cta" href="contact.html">Kontakt</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  